<h1>Listing Trackers</h1>

<table>
  <thead>
    <tr>
      <th>Phone Number</th>
      <th>State</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackers.each do |tracker| %>
      <tr>
        <td><%= link_to tracker.phone_number, tracker %></td>
        <td>
          <% state = tracker.modes?(:track_movement) ? 'on' : 'off' %>
          <i class="icon-globe-alt <%= "state-%s" % state %>" title="track movement is <%= state %>"></i>
        </td>
        <td><%= link_to 'Edit', edit_tracker_path(tracker) %></td>
        <td><%= link_to 'Destroy', tracker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tracker', new_tracker_path %>
