<% if @tracker.movements.present? %>
  <div id="map-canvas"></div>
<% else %>
  <div>Tracker location is unknown</div>
<% end %>

<% if current_user && current_user.trackers.include?(@tracker) %>
  <% if @tracker.tracking_movement? %>
    <%= button_to "Stop Track Movement", { action: 'stop_track_movement', id: @tracker }, { class: 'button' } %>
  <% else %>
    <%= button_to "Track Movement", { action: 'track_movement', id: @tracker }, { class: 'button' } %>
  <% end %>

  <%= link_to 'Edit', edit_tracker_path(@tracker) %> |
  <%= link_to 'Back', trackers_path %>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    <%= render 'map.js', tracker: @tracker, map_container_selector: 'map-canvas' %>
  </script>
<% end %>
