<% if @tracker.movements.present? %>
  <div id="map-canvas"></div>
<% else %>
  <div>Tracker location is unknown</div>
<% end %>

<% if current_user && current_user.trackers.include?(@tracker) %>
  <%= button_to "Track Movement", { action: 'track_movement', id: @tracker }, { class: 'button' } %>

  <%= link_to 'Edit', edit_tracker_path(@tracker) %> |
  <%= link_to 'Back', trackers_path %>
<% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript" charset="utf-8">
    <%= render 'map.js', tracker: @tracker, map_container_selector: 'map-canvas' %>
  </script>
<% end %>
