<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "trackery" %></title>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp" %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <% if notice.present? %>
      <div class="alert-box-container">
        <div data-alert class="alert-box info radius">
          <%= notice %>
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    <% end %>

    <% if alert.present? %>
      <div class="alert-box-container">
        <div data-alert class="alert-box alert radius">
          <%= alert %>
          <a href="#" class="close">&times;</a>
        </div>
      </div>
    <% end %>

    <div id="loading_overlay"></div>

    <%= yield %>

    <%= yield :javascript %>

  </body>
</html>
